<div class="container-inner-sara">
    <div class="inner-page-header-wrapper">
        <div class="inner-header">
            <img ng-src="{{adobe.imageUrl}}" alt="Film Page"/>
        </div>
        <div class="inner-header-info">
            <h1 class="inner-title" ng-bind="adobe.title"></h1>
        </div>
    </div>

    <div class="body-wrapper-inner">
        <div class="inner-subheader">{{adobe.intro}}</div>
        <div class="thumbnails-sara">
            <div class="illustrator adobe-thumbnail">
                <ul class="adobe-content">
                    <li ng-repeat="project in adobe.images">
                        <span><a href="{{project.pdf}}" download="saraCassellaAdobe"><strong>{{project.name}}</strong> {{project.type}}</a></span>
                        <img ng-src="{{project.url}}" alt="Adobe"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
