<style>input.ng-invalid.ng-dirty {background-color: pink}</style>
<div class="container-inner-sara">
    <div class="inner-page-header-wrapper">
        <div class="inner-header">
            <img ng-src="{{contact.imageUrl}}" alt="Film Page"/>
        </div>
        <div class="inner-header-info">
            <h1 class="inner-title" ng-bind="contact.title"></h1>
        </div>
    </div>
    <div class="body-wrapper-inner">
        <div class="inner-subheader">{{contact.intro}}</div>
        <div class="contact-wrapper">
            <div class="address-wrapper">
                <span class="contact-header">Address:</span><br />
                <div class="address">
                    {{sara.address.street}}<br />
                    {{sara.address.city}}<br />
                    {{sara.address.state}}
                    {{sara.address.zip}}
                </div>
                <div class="me">
                    <img ng-src="{{sara.profilePicture}}" alt="Sara Cassella and Camel in Rabat, Morocco"/>
                </div>
            </div>
            <div class="form-wrapper">
                <span class="contact-header">Contact Me:</span>
                <form class="contact-form" name="contactForm">
                    <fieldset>
                        <label class="label-sara" for="name"><strong>Name:</strong></label>
                        <input id="name" type="text" required ng-model="contact.name" placeholder="Your Name"/><br />
                        <label class="label-sara" for="date"><strong>Date:</strong></label>
                        <input id="date" type="text" required ng-pattern="/\d\d/\d\d/\d\d/" ng-model="contact.date" placeholder="Today's Date (mm/dd/yy)"/><br />
                        <label class="label-sara" for="email"><strong>Email:</strong></label>
                        <input id="email" type="email" required ng-model="contact.email" placeholder="Your Email"/><br />
                        <label class="label-sara" for="message"><strong>Message:</strong></label>
                        <input id="message" type="text" required ng-model="contact.message"
                               placeholder="Your Message"/><br />

                        <label class="label-sara" for="imageUrl"><strong>Image:</strong> (Try out some two way Angular
                                                                 Binding, and see your
                        image below!)</label>
                        <input id="imageUrl" type="url" class="input-xlarge" ng-model="contact.form.imageUrl" placeholder="a picture of you!"/>

                    </fieldset>
                    <br />
                    <img ng-src="{{contact.form.imageUrl}}" src=""/><!--TWO WAY BINDING WITH FIELD ABOVE-->
                    <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid" ng-click="sendEmail(contact, contactForm)">Save</button>
                    <button type="button" class="btn btn-default" ng-click="cancelThis()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
