<div class="container-inner-sara">
    <div class="inner-page-header-wrapper">
        <div class="inner-header">
            <img ng-src="{{film.imageUrl}}" alt="Film Page"/>
        </div>
        <div class="inner-header-info">
            <h1 class="inner-title" ng-bind="film.title"></h1>
        </div>
    </div>

    <div class="body-wrapper-inner">
        <div class="inner-subheader">{{film.intro}}</div>
        <div class="video-wrapper">
            <iframe width="960" height="577.5" src="https://www.youtube.com/embed/VP02NEehZlo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>