<div class="container-inner-sara">
    <div class="inner-page-header-wrapper">
        <div class="inner-header">
            <img ng-src="{{userExperience.imageUrl}}" alt="Film Page"/>
        </div>
        <div class="inner-header-info">
            <h1 class="inner-title" ng-bind="userExperience.title"></h1>
        </div>
    </div>

    <div class="body-wrapper-inner">
        <div class="inner-subheader">{{userExperience.intro}}</div>
        <p><a href="{{userExperience.url}}" download="saraCassellaUXEvaluation">Download the pdf</a></p>
    </div>
</div>